body{
    background: rgb(83, 42, 81);
    background: linear-gradient(90deg, rgba(83,42,81,1)32%, rgba(177,47,65,1) 100%);
}

.caja{
    width: 250px;
    height: 250px;
    background-color: rgb(233, 233, 233);
    /* centrar vertical y horizontalmente */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px; /* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  
}