/* Estilos Body */

body {
	background: linear-gradient(to right top, rgba(83, 42, 81, 1), #6b2a54, #832953, #99294c, rgba(177, 47, 65, 1)) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* background: linear-gradient(90deg, rgba(83, 42, 81, 1) 32%, rgba(177, 47, 65, 1) 100%); */
}

/* Importar fuentes para textos */
@font-face {
	font-family: Titulos;
	src: url(../fuentes/gobold/Gobold\ Bold.otf);
}

@font-face {
	font-family: Titulos1;
	src: url(../fuentes/soria/Soria-Bold.otf);
}

@font-face {
	font-family: Titulos2;
	src: url(../fuentes/chicago_police/Chicago\ Police\ Font.otf);
}

@font-face {
	font-family: Titulos3;
	src: url(../fuentes/cremona/Cremona\ Regular\ OTF.otf);
}

/* Fuentes para parrafos */
@font-face {
	font-family: parrafo;
	src: url(../fuentes/timeburner/timeburnernormal.ttf);
}

@font-face {
	font-family: parrafo1;
	src: url(../fuentes/kiye_sans/Kiye-Sans.ttf);
}

@font-face {
	font-family: parrafo2;
	src: url(../fuentes/coamei/COAMEI_L.ttf);
}

@font-face {
	font-family: parrafo3;
	src: url(../fuentes/hasta_grotesk/hasta\ grotesk.ttf);
}

/* Estilos de textos */
.title {
	text-shadow: -4px -4px 1px #000;
}

.titulo2 {
	font-family: Titulos2;
	color: rgb(0, 0, 0);
	font-size: 24px;
	border-color: #000000;
}

.text-size-r {
	font-size: 0.9375rem;
	/* 15px */
	/* transform: scale(0.9); */
}

.text-size-18 {
	font-size: 1.125rem;
	/* 18px */
}

.text-size {
	font-size: 1.25rem; /* 20px */
}

.shadow {
	-webkit-box-shadow: 8px 8px 15px 0px #342e44 !important;
	box-shadow: 8px 8px 15px 0px #342e44 !important;
}

/*!==============================================================*/
/*!================= Estilos para botones =================*/
/*!==============================================================*/

.btn-home {
	color: #0f0;
}

.btn-login {
	-webkit-box-shadow: 5px 5px 50px 4px #000000;
	box-shadow: 5px 5px 14px -4px #000000;
}

.boton1 {
	float: left;
	/* margin-left: -80px; */
}

.boton2 {
	float: right;
	/* margin-right: -80px; */
}

.btn-login:active {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

/*!==============================================================*/
/*!================= Otros estilos=================*/
/*!==============================================================*/

.wrap {
	flex-wrap: wrap;
}

.right-10 {
	right: 0.3125rem;
}

.top-10 {
	margin-top: -120px;
	right: -6.25rem !important;
}

.cuadro {
	margin-top: 45px;
}

.box {
	box-shadow: 8px 8px 10px 0px #342e44 !important;
}

.fa-play-circle {
	color: #8a2d6f;
	width: 30px;
	margin-left: -5px;
}

.fa-gamepad {
	color: #8a2d6f;
	width: 30px;
	margin: 5px;
}
