/* Estilos Body */
body {
  background: -webkit-gradient(linear, left bottom, right top, from(rgb(83, 42, 81)), color-stop(#6b2a54), color-stop(#832953), color-stop(#99294c), to(rgb(177, 47, 65))) no-repeat center center fixed;
  background: linear-gradient(to right top, rgb(83, 42, 81), #6b2a54, #832953, #99294c, rgb(177, 47, 65)) no-repeat center center fixed;
  background-size: cover;
}

/* Estilos de textos */
.title {
  text-shadow: -4px -4px 1px #000;
}

.titulo2 {
  font-family: Titulos2;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border-color: #000000;
}

.text-size-r {
  font-size: 0.9375rem; /* 15px */
}

.text-size-18 {
  font-size: 1.125rem; /* 18px */
}

.text-size {
  font-size: 1.25rem; /* 20px */
}

/*!==============================================================*/
/*!================= Estilos para botones =================*/
/*!==============================================================*/
.btn-home {
  color: #0f0;
}

.btn-login {
  -webkit-box-shadow: 5px 5px 50px 4px #000000;
  box-shadow: 5px 5px 14px -4px #000000;
}

/* 
.boton1 {
	float: left;
	margin-left: -80px;
} */
/* .boton2 {
	float: right;
	margin-right: -80px;
} */
.btn-login:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/*!==============================================================*/
/*!================= Otros estilos=================*/
/*!==============================================================*/
.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-10 {
  right: 0.3125rem;
}

.top-10 {
  margin-top: -120px;
  right: -6.25rem !important;
}

.cuadro {
  margin-top: 2.8125rem;
  min-height: 31.25rem;
}

.btn-iniciar {
  background-color: #52FF3B;
}

.box {
  -webkit-box-shadow: 0.5rem 0.5rem 0.625rem 0rem #342e44 !important;
          box-shadow: 0.5rem 0.5rem 0.625rem 0rem #342e44 !important;
}

.fa-play-circle {
  color: #8a2d6f;
  width: 30px;
  margin-left: -5px;
}

.fa-gamepad {
  color: #8a2d6f;
  width: 30px;
  margin: 5px;
}

@media screen and (max-width: 480px) {
  mt-5 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.players {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .players {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .players {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .players {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

/*AVATARS*/
.container__jugador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__jugador .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.container__jugador .avatar .avatar__img {
  max-width: 150px;
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid #00ff00;
  margin: 0 10px;
  border-radius: 100%;
  padding: 15px;
}
.container__jugador .avatar .num_elements {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 2.1875rem;
  top: 0;
  right: 0;
  height: 2.1875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-weight: bold;
  font-size: 1.125rem;
}

body .carta {
  display: none;
}

.btn-atribute {
  min-height: 2.5rem;
  min-width: 8.75rem;
}

body.carta-activa .carta {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
body.carta-activa .carta .carta-div {
  width: 60%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 0.4375rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 100rem) {
  body.carta-activa .carta .carta-div {
    width: 65%;
  }
}
@media screen and (max-width: 62.5rem) {
  body.carta-activa .carta .carta-div {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  body.carta-activa .carta .carta-div {
    width: 90%;
  }
}
body.carta-activa .carta .carta-div .container__jugador-card {
  max-width: 300px;
  border-radius: 0.125rem;
  background-color: rgba(0, 0, 0, 0.1);
}
body.carta-activa .carta .carta-div .container__jugador-card .container__card-title {
  border-radius: 0.3125rem;
  padding: 5px 0.4375rem;
}
body.carta-activa .carta .carta-div .container__jugador-card .container__card-title h4 {
  font-weight: bold;
}
body.carta-activa .carta .carta-div .container__jugador-card .position-relative {
  padding: 10px 0;
}
body.carta-activa .carta .carta-div .container__jugador-card .position-relative .card-img-card {
  position: relative;
}
body.carta-activa .carta .carta-div .container__jugador-card .position-relative .card-identificador {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  padding: 0.3125rem;
  border-radius: 100%;
  color: #fff;
  bottom: 50%;
  left: 50%;
}
body.carta-activa .carta .carta-div .container__jugador-card .card-body {
  margin-top: 0;
  margin-bottom: 0;
}
body.carta-activa .carta .carta-div .container__jugador-card .card-parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  font-size: 1.125rem;
}
body.carta-activa .carta .carta-div .container__jugador-card .card-parrafos p {
  margin-bottom: 0;
}
body.carta-activa .carta .carta-div .carta-buttoms {
  max-width: 500px;
  text-align: center;
}
@media screen and (max-width: 62.5rem) {
  body.carta-activa .carta .carta-div .carta-buttoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}
@media screen and (max-width: 480px) {
  body.carta-activa .carta .carta-div .carta-buttoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
body.carta-activa .carta .carta-div .carta-buttoms form,
body.carta-activa .carta .carta-div .carta-buttoms div {
  text-align: center;
  margin: 10px;
}
body.carta-activa .carta .carta-div .carta-buttoms form {
  display: inline-block;
}

.img__card {
  -webkit-filter: drop-shadow(0.625rem 0.4375rem 0.625rem #000);
          filter: drop-shadow(0.625rem 0.4375rem 0.625rem #000);
}

.border {
  border-radius: 0.3125rem;
}

.marcador-tiempo {
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
}
@media screen and (max-width: 480px) {
  .marcador-tiempo {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}