/* Estilos Body */

body{
    background: rgb(83, 42, 81);
    background: linear-gradient(90deg, rgba(83,42,81,1)32%,rgba(177,47,65,1) 100%);
}

/* Importar fuentes para textos */
@font-face {
    font-family: Titulos;
    src: url(../fuentes/gobold/Gobold\ Bold.otf);
}

@font-face {
    font-family: Titulos1;
    src: url(../fuentes/soria/Soria-Bold.otf);
}

@font-face {
    font-family: Titulos2;
    src: url(../fuentes/chicago_police/Chicago\ Police\ Font.otf);
}

@font-face {
    font-family: Titulos3;
    src: url(../fuentes/cremona/Cremona\ Regular\ OTF.otf);
}

/* Fuentes para parrafos */
@font-face {
    font-family: parrafo;
    src: url(../fuentes/timeburner/timeburnernormal.ttf);
}

@font-face {
    font-family: parrafo1;
    src: url(../fuentes/kiye_sans/Kiye-Sans.ttf);
}

@font-face {
    font-family: parrafo2;
    src: url(../fuentes/coamei/COAMEI_L.ttf);
}

@font-face {
    font-family: parrafo3;
    src: url(../fuentes/hasta_grotesk/hasta\ grotesk.ttf);
}


/* Estilos de textos */

.titulo3 {
    font-family: Titulos3;
    color: rgb(0, 0, 0);
    font-size: 14px;

    
}

.parrafo2{
    font-family: parrafo3;
    font-size: 12px;

}

.bnts{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.text-size-r {
    font-size: 0.9375rem;
    /* 15px */
    /* transform: scale(0.9); */
}

.text-size-18 {
    font-size: 1.125rem;
    /* 18px */
}

.text-size {
    /* font-size: 1.25rem; */
    /* 20px */
}

.shadow {
    -webkit-box-shadow: 5px 5px 14px -4px #000000;
    box-shadow: 5px 5px 14px -4px #000000;
}



/*!==============================================================*/
/*!================= Estilos para botones =================*/
/*!==============================================================*/

.btn {
    height: 35px;
    min-width: 100px;
    padding-top: 70px;
    transition: all .3s ease-in-out;
}


.btn-login {
    
    -webkit-box-shadow: 5px 5px 50px 4px #000000;
    box-shadow: 5px 5px 14px -4px #000000;
}



.atras{
    height: 10px;
    min-width: 50px;
}
.btn-login:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}


/*!==============================================================*/
/*!================= Otros estilos=================*/
/*!==============================================================*/

.wrap {
    flex-wrap: wrap;
}

.right-10 {
    right: 0.3125rem;
}

.top-10 {
    margin-top: -120px;
    right: -6.25rem !important;
}

.cuadro{
    margin-top: 45px;
}

.box{
    box-shadow: 8px 8px 10px 0px #4919ce;

}

.fa-play-circle{
    color: #8a2d6f;
    width: 30px;
    margin-left: -5px;

}

.img{
   width: 150px;
}

.img1{
    width: 150px;
    float: right;
 }

 .img2{
    width: 150px;
    float: left;
 }

 .bnts{
    position: absolute;
    margin-left: 20px;
 }