/* Estilos Body */
body {
  background: -webkit-gradient(linear, left bottom, right top, from(rgb(83, 42, 81)), color-stop(#6b2a54), color-stop(#832953), color-stop(#99294c), to(rgb(177, 47, 65))) no-repeat center center fixed;
  background: linear-gradient(to right top, rgb(83, 42, 81), #6b2a54, #832953, #99294c, rgb(177, 47, 65)) no-repeat center center fixed;
  background-size: cover;
  /* background: linear-gradient(90deg, rgba(83, 42, 81, 1) 32%, rgba(177, 47, 65, 1) 100%); */
}

/* Importar fuentes para textos */
@font-face {
  font-family: Titulos;
  src: url(../fuentes/gobold/Gobold\ Bold.otf);
}
@font-face {
  font-family: Titulos1;
  src: url(../fuentes/soria/Soria-Bold.otf);
}
@font-face {
  font-family: Titulos2;
  src: url(../fuentes/chicago_police/Chicago\ Police\ Font.otf);
}
@font-face {
  font-family: Titulos3;
  src: url(../fuentes/cremona/Cremona\ Regular\ OTF.otf);
}
/* Fuentes para parrafos */
@font-face {
  font-family: parrafo;
  src: url(../fuentes/timeburner/timeburnernormal.ttf);
}
@font-face {
  font-family: parrafo1;
  src: url(../fuentes/kiye_sans/Kiye-Sans.ttf);
}
@font-face {
  font-family: parrafo2;
  src: url(../fuentes/coamei/COAMEI_L.ttf);
}
@font-face {
  font-family: parrafo3;
  src: url(../fuentes/hasta_grotesk/hasta\ grotesk.ttf);
}
/* Estilos de textos */
.title {
  text-shadow: -4px -4px 1px #000;
}

.titulo2 {
  font-family: Titulos2;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border-color: #000000;
}

.text-size-r {
  font-size: 0.9375rem;
  /* 15px */
  /* transform: scale(0.9); */
}

.text-size-18 {
  font-size: 1.125rem;
  /* 18px */
}

.text-size {
  font-size: 1.25rem; /* 20px */
}

.shadow {
  -webkit-box-shadow: 8px 8px 15px 0px #342e44 !important;
  box-shadow: 8px 8px 15px 0px #342e44 !important;
}

/*!==============================================================*/
/*!================= Estilos para botones =================*/
/*!==============================================================*/
.btn-home {
  color: #0f0;
}

.btn-login {
  -webkit-box-shadow: 5px 5px 50px 4px #000000;
  box-shadow: 5px 5px 14px -4px #000000;
}

.boton1 {
  float: left;
  /* margin-left: -80px; */
}

.boton2 {
  float: right;
  /* margin-right: -80px; */
}

.btn-login:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/*!==============================================================*/
/*!================= Otros estilos=================*/
/*!==============================================================*/
.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-10 {
  right: 0.3125rem;
}

.top-10 {
  margin-top: -120px;
  right: -6.25rem !important;
}

.cuadro {
  margin-top: 45px;
}

.box {
  -webkit-box-shadow: 8px 8px 10px 0px #342e44 !important;
          box-shadow: 8px 8px 10px 0px #342e44 !important;
}

.fa-play-circle {
  color: #8a2d6f;
  width: 30px;
  margin-left: -5px;
}

.fa-gamepad {
  color: #8a2d6f;
  width: 30px;
  margin: 5px;
}

@media screen and (max-width: 480px) {
  mt-5 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

.players {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .players {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .players {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .players {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

/*AVATARS*/
.container__jugador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__jugador .container__jugador-card .card-parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container__jugador .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.container__jugador .avatar .avatar__img {
  max-width: 150px;
  background: rgba(0, 0, 0, 0.2);
  border: 3px solid #00ff00;
  margin: 0 10px;
  border-radius: 100%;
  padding: 15px;
}
.container__jugador .avatar .num_elements {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  width: 2.1875rem;
  top: 0;
  right: 0;
  height: 2.1875rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  font-weight: bold;
  font-size: 1.125rem;
}

body .carta {
  display: none;
}

.btn-atribute {
  min-height: 2.5rem;
}

body.carta-activa .carta {
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
body.carta-activa .carta .carta-div {
  width: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border-radius: 0.1875rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #ff0000;
}
@media screen and (max-width: 100rem) {
  body.carta-activa .carta .carta-div {
    width: 65%;
  }
}
@media screen and (max-width: 62.5rem) {
  body.carta-activa .carta .carta-div {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  body.carta-activa .carta .carta-div {
    width: 90%;
  }
}
body.carta-activa .carta .carta-div .carta-buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 18.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 62.5rem) {
  body.carta-activa .carta .carta-div .carta-buttoms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
body.carta-activa .carta .carta-div .carta-buttoms form,
body.carta-activa .carta .carta-div .carta-buttoms div {
  text-align: center;
  margin: 10px;
}

.cuadro {
  min-height: 450px;
}